# Java template
*.class

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle
build/
!gradle-wrapper.jar


# JetBrains
.idea/*
!/.idea/runConfigurations/
!/.idea/dictionaries/

/out/

# custom stuff
gen/
dist/services/
dist/data/
dist/log/
bin/
lib/
dist/logs/

